$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);
$white: hsl(0, 0%, 100%);
$light-blue:hsl(210, 60%, 98%);
$light-blue2:hsl(205, 33%, 90%);
$grayish-blue:hsl(219, 14%, 63%);
$dark-grayish-blue: hsl(219, 12%, 42%);
$dark-blue: hsl(224, 21%, 14%);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

//CSS RESET
*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: $light-blue;
    min-width: 100%;
    min-height: 100vh;
    padding: 2em;
}

section {
    margin: 0 auto;
    background-color: $white;
    max-width: 1140px;
    min-width: 375px;
    border-radius: 1em;
    .notifications-container {
        padding: 1.3em 1.5em;
        .notifications-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: $blue;
            }
            & > div {
                display: flex;
                align-items: center;
                span {
                    margin-left: 0.3em;
                    background-color: $blue;
                    color: $white;
                    padding: 0.4em 0.8em;
                    border-radius: 0.4em;
                }
            }
        }
        .notifications-bottom {
            margin: 2em 0;
            .notification {
                width: 100%;
                padding: 1em 2em;
                margin-bottom: 1em;
                display: flex;
                align-items: center;
                border-radius: 0.6em;
                img {
                    width: 4em;
                }
                .img-top {
                    margin-bottom: 100px;
                }
                .user-info {
                    padding-left: 2em;
                    line-height: 1.6;
                    width: 100%;
                    p {
                        color: $dark-grayish-blue;
                    }
                    .user-name {
                        font-weight: bold;
                        color: $dark-blue;
                        cursor: pointer;
                    }
                    .club {
                        color: $blue;
                        font-weight: bold;
                        cursor: pointer;
                    }
                    .time-stamp {
                        color: $light-blue2;
                    }
                    span {
                        cursor: pointer;
                        color: $dark-blue;
                        font-weight: bold;
                    }
                    .private-message {
                        border: 1px solid $grayish-blue;
                        padding: 1.5em;
                        align-items: flex-start;
                        display: block;
                        margin-top: 0.5em;
                        cursor: pointer;
                        &:hover {
                            background-color: $light-blue2;
                            border-color: $light-blue2;
                            border-radius: 0.6em;
                        }
                    }
                }
            }
            .unread {
                background-color: $grayish-blue;
                cursor: pointer;
            }

        }
    }
}


@media only screen and (max-width: 768px) {
    body {
        padding: 0;
    }
    section {

        .notifications-container {
            padding: 2em 1.2em;
            .notifications-bottom {
                margin: 1em 0;
                .notification {
                    padding: 0.6em 1em;
                    align-items: flex-start;
                    .user-info {
                        padding-left: 1em;
                    }
                    img {
                        width: 3em;
                    }
                }
            }
        }
    }

}